<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shatte.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Snapby Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Snapby In House copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Snapby In House.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Snapby.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B07B9C317E6FEFB00DA26EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B07B9DD17E6FF8300DA26EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B0CD4C918362C1600EB3752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B608ECB18362A5C000A4606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B608EE118362A5D000A4606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B65F71F1795C66500F37227</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9D06E119058A3F00161A13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B9D0775190591D300161A13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BC30FDE1894444400917C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCBC600189160DB00933715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCE151E194666D300E78149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BE91ED51916D1FF0093C23F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
